@import "/src/assets/styles/variables.scss";
@import "/src/assets/styles/mixins.scss";

.dropdown {
  position: relative;

  &__area {
    max-width: 25px;
    max-height: 25px;
    min-width: 25px;
    min-height: 25px;

    border-radius: 50%;

    cursor: pointer;

    transition: background-color 0.25s ease;

    &:hover {
      background-color: $dropdown-hover;
    }

    @include flex-center;
  }

  &__actions {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1000;

    min-width: 210px;
    border-radius: 12px;
    box-shadow: $shadow;
    background-color: $white;

    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    &--enter {
      top: 0;
      opacity: 0;
      scale: 0.85;
    }

    &--enter-active {
      top: 50px;
      opacity: 1;
      scale: 1;
      transition: all 0.2s ease-out;
    }

    &--exit {
      top: 50px;
      opacity: 1;
      scale: 1;
    }

    &--exit-active {
      top: 0;
      opacity: 0;
      scale: 0.85;
      transition: all 0.2s ease-in-out;
    }
  }
}
