@import "/src/assets/styles/mixins.scss";

.auth {
  @include flex-center;

  &__title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
  }

  &__actions {
    @include flex-center;
    flex-direction: column;
    gap: 15px;

    &--login {
      margin-top: 170px;
    }

    &--register {
      margin-top: 50px;
    }
  }
}
