@import "/src/assets/styles/variables.scss";

.emojies {
  position: relative;

  aside {
    position: absolute !important;
    bottom: 10px;
    right: 10px;
  }

  svg {
    width: 27px;
    height: 27px;
    min-width: 27px;
    min-height: 27px;

    cursor: pointer;
    fill: $grey;
    color: $grey;

    transition: fill, color 0.25s ease;

    &:hover {
      fill: $blue;
      color: $blue;
    }
  }

  &--active > svg {
    fill: $blue;
    color: $blue;
  }
}
