@import "/src/assets/styles/variables.scss";

.row {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 10px 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid $separator-color;
  }

  &__value {
    max-width: 75%;
  }

  &__value,
  &__input {
    width: 100%;
  }

  &__label,
  &__input {
    font-size: 13px;
    line-height: 13px;
  }

  &__container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    color: $grey;
    text-align: right;

    border: 0;

    overflow: hidden;
    text-overflow: ellipsis;

    &:not(:read-only) {
      padding: 5px 10px;
      border: 1px solid $separator-color;
      border-radius: 4px;

      &:focus,
      &:focus-visible {
        outline: 2px solid $blue;
      }
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  &__error {
    font-size: 9px;
    color: $error;
    margin-top: 7px;
  }
}
