@import "/src/assets/styles/variables.scss";

.input-wrapper {
  .input__label {
    font-size: 9px;
    color: $grey;
  }

  .input__input {
    width: 100%;

    border: 0;
    border-radius: 0;
    padding: 0;

    border-bottom: 1px solid $blue;
    color: $black;

    padding-bottom: 7px;

    font-size: 13px;

    transition: border-bottom 0.25s ease;

    &::-webkit-input-placeholder {
      color: $grey;
    }

    &:focus,
    &:focus-visible,
    &:hover {
      outline: none;
      border-bottom: 1px solid $blue-hover;
    }
  }

  .input__error {
    font-size: 8px;
    color: $error;
    margin-top: 7px;
  }

  &:not(:last-of-type) {
    margin-bottom: 16px;
  }
}
