@import "/src/assets/styles/variables.scss";

#root {
  width: 100vw;
  min-height: 100vh;

  font-family: Inter;
  font-weight: 500;
  color: $black;

  main {
    width: 100vw;
    min-height: 100vh;
  }
}
