$blue: #3369f3;
$blue-hover: #0a40ab;
$oceanic: #e4edfd;
$aside-bg: #fbfbfb;
$separator-color: #eaeaea;
$white: #ffffff;
$black: #1e1e1e;
$error: #ff2f2f;
$grey: #999999;
$lightgrey: #efefef;

$shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
