@import "/src/assets/styles/variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 10px;
  border-bottom: 1px solid $separator-color;

  &__info {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__avatar {
    min-width: 34px;
    max-width: 34px;
    min-height: 34px;
    max-height: 34px;

    border-radius: 50%;
  }

  &__title {
    font-size: 13px;
  }
}
